@keyframes alternate-logo {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  25% {
    opacity: 0.7;
    transform: scale(0.95);
  }
  50% {
    opacity: 0.4;
    transform: scale(0.9);
  }
  75% {
    opacity: 0.7;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes pulse-first-part {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@keyframes pulse-second-part {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}